// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  line-height:60px;
  font-weight:300;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
